<div class="inventual-dashboard-area">
    <div class="inventual-dashboard-sidebar" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-bar-responsive" (click)="myfunction()">
        <mat-icon>reorder</mat-icon>
      </div>
      <div
        class="inventual-menu-wrapper bg-white border-e border-b border-solid border-border py-10 px-7 lg:px-5 lg:py-8">
        <app-menu></app-menu>
      </div>
      <div class="inventual-menu-overlay" (click)="myfunction()" [class.sidebar-enable]="menuSidebarActive"></div>
    </div>
    <div class="inventual-dashboard-main" [class.sidebar-enable]="menuSidebarActive">
      <div class="inventual-header-area">
        <div class="inventual-header-wrapper custom-height-70 px-7 bg-white border-b border-solid border-border">
          <div class="grid grid-cols-12 items-center h-full">
            <div class="col-span-12">
              <app-header></app-header>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-breadcrumb-area px-7 py-9 bg-white mb-5">
        <div class="inventual-breadcrumb-area-inner px-0.5">
          <h5 class="text-[20px] text-heading font-bold mb-3">Ajouter décès</h5>
          <div class="inventual-breadcrumb-area-inner-wrap">
            <span class="text-[14px] text-body font-normal inline-block me-2">Gestion décès</span>
            <span class="text-[14px] text-body font-normal inline-block me-2">></span>
            <span class="text-[14px] text-body font-normal inline-block me-2">Ajouter décès</span>
          </div>
        </div>
      </div>
      <div class="inventual-content-area px-7">
        <div class="inventual-addsupplier-area bg-white p-7 custom-shadow rounded-8 mb-5">
          <div class="grid grid-cols-12 gap-x-7 sm:gap-x-0" [formGroup]="createForm">
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Date</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden"></mat-label>
                    <input type="date" matInput [placeholder]="'Date'" formControlName="date">
                  </mat-form-field>
                  <small>
                    <div class="text-danger mt-1" *ngIf="createForm.get('date')?.invalid && (createForm.get('date')?.dirty || submitted || createForm.get('date')?.touched)">
                        La date est requis !
                    </div>
                </small>
                </div>
              </div>
            </div>
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
              <div class="inventual-select-field mb-5">
                <h5 class="text-[15px] text-heading font-semibold mb-3">Quantité</h5>
                <div class="inventual-input-field-style">
                  <mat-form-field class="w-full" [floatLabel]="'always'">
                    <mat-label class="hidden"></mat-label>
                    <input type="quantité" matInput [placeholder]="'quantité'" formControlName="quantité">
                  </mat-form-field>
                  <small>
                    <div class="text-danger mt-1" *ngIf="createForm.get('quantité')?.invalid && (createForm.get('quantité')?.dirty || submitted || createForm.get('quantité')?.touched)">
                        La quantité est requis !
                    </div>
                </small>
                </div>
              </div>
            </div>
             
            <div class="col-span-4 md:col-span-6 sm:col-span-12">
                <div class="inventual-select-field mb-5">
                  <h5 class="text-[15px] text-heading font-semibold mb-3">Calibre_alevin</h5>
                  <div class="inventual-select-field-style">
                    <mat-form-field>
                      <mat-select class="block" [placeholder]="'Select Calibre'" formControlName="id_calibre_aliment">
                        <mat-option value="CALIBRE 1">Calibre 1</mat-option>
                        <mat-option value="CALIBRE 2">Calibre 2</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <small>
                      <div class="text-danger mt-1" *ngIf="createForm.get('id_calibre_alevin')?.invalid && (createForm.get('id_calibre_alevin')?.dirty || submitted || createForm.get('id_calibre_alevin')?.touched)">
                          Le calibre est requis !
                      </div>
                  </small>
                  </div>
                </div>
              </div>
              <div class="col-span-4 md:col-span-6 sm:col-span-12">
                <div class="inventual-select-field mb-5">
                  <h5 class="text-[15px] text-heading font-semibold mb-3">Lot</h5>
                  <div class="inventual-select-field-style">
                    <mat-form-field>
                      <mat-select class="block" [placeholder]="'Select Role'" formControlName="id_lot">
                        <mat-option value="LOt 1">Lot 1</mat-option>
                        <mat-option value="LOt 2">Lot 2</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <small>
                      <div class="text-danger mt-1" *ngIf="createForm.get('id_lot')?.invalid && (createForm.get('id_lot')?.dirty || submitted || createForm.get('id_lot')?.touched)">
                          Le lot est requis !
                      </div>
                  </small>
                  </div>
                </div>
              </div>
              <div class="col-span-4 md:col-span-6 sm:col-span-12">
                <div class="inventual-select-field mb-5">
                  <h5 class="text-[15px] text-heading font-semibold mb-3">Cycle</h5>
                  <div class="inventual-select-field-style">
                    <mat-form-field>
                      <mat-select class="block" [placeholder]="'Select Cycle'" formControlName="id_cycle">
                        <mat-option value="CYCLE 1">Cycle 1</mat-option>
                        <mat-option value="CYCLE 2">Cycle  2</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <small>
                      <div class="text-danger mt-1" *ngIf="createForm.get('id_cycle')?.invalid && (createForm.get('id_cycle')?.dirty || submitted || createForm.get('id_cycle')?.touched)">
                          Le cycle est requis !
                      </div>
                  </small>
                  </div>
                </div>
              </div>
            <div class="col-span-12">
              <div class="inventual-material-btn pt-2.5 justify-end">
                <button mat-raised-button color="primary" (click)="createUser()">Ajouter Décès</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inventual-copyright-area pt-28 xl:pt-0 lg:pt-0 md:pt-0 sm:pt-0">
        <app-copyright></app-copyright>
      </div>
    </div>
  </div>
